body {
  background-color: rgba(20, 20, 23, 0.527);
}

.boxes-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 40px;
  width: 90%;
  margin-bottom: 60px;
}

#love {
  text-align: center;
  border: solid 0.5px white;
  border-radius: 5px;
  width: 200px;
  margin: 0 auto;
  padding: 5px;
}

#love a {
  color: white;
  text-decoration: none;
}


#editor {
  width: 100%;
  height: 80vh;
  font-size: 14px;
  background-color: #494949;
  resize: none;
  color: white;
  padding: 20px;
  overflow: auto;
  border-radius: 5px;
}

#preview {
  width: 100%;
  height: 80vh;
  margin-top: 10px;
  font-size: 14px;
  background-color: #e6e6e6;
  color: rgb(28, 28, 28);
  padding: 20px;
  overflow: auto;
  border-radius: 5px;
}

img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .boxes-container {
    flex-direction: row;
    width: 80%;
  }

  #editor {
    width: 50%;
    height: 80vh;
    margin-right: 10px;
  }

  #preview {
    width: 50%;
    height: 80vh;
    margin-left: 10px;
    margin-top: 0;
  }
}